<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.interopehrate.mr2de" >

    <application>
        <provider
            android:authorities="MR2DE.MR2DEContext"
            android:exported="false"
            android:enabled="true"
            android:name="eu.interopehrate.mr2d.MR2DContext" />
    </application>

    <!-- uses-library android:name="org.andengine.extension.augmentedreality" android:required="true"/ -->

</manifest>
